body {
    background-color: #6c3baa;
    font-family: 'Montserrat', sans-serif; /* Aplicando a fonte Montserrat */
}

h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 20px;
}

h2 {
    color: white;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    color: white;
    max-width: 800px; /* Aumentando a largura do parágrafo */
    line-height: 1.8;
    text-align: justify;
    font-size: 20px;
    margin-top: 0;
}
