/* Resetando margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6c3baa;
    font-family: 'Montserrat', sans-serif;
    display: flex; /* Usamos flexbox para alinhar o conteúdo */
    justify-content: center; /* Centraliza o conteúdo */
    align-items: flex-start; /* Alinha o conteúdo ao topo */
    height: 100vh; /* Garantimos que o body ocupe toda a altura da tela */
    padding: 20px;
    color: white;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    max-width: 800px; /* Aumenta o tamanho máximo do texto */
    line-height: 1.8;
    text-align: justify;
    font-size: 20px;
    margin-top: 0;
    padding: 10px;
    font-weight: 300;
}
